@import "sets.scss";
.contact--wrapper{
	padding-left: 0;
	padding-right: 0;
	background: $bg5 no-repeat;
	background-size: cover;
}
.contact{
	display: flex;
	flex-direction:column;
	justify-content: center;
	align-items: space-between;
	&__title{
		margin-top: 100px;
		margin-bottom: 50px;
		width: 100%;
		text-align: center;
		@extend %fh6;
	}
	&__p{
		margin-bottom: 47px;
		width: 370px;
		align-self: center;
		@extend %fz6;
	}
	&__content{
		margin-bottom: 120px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
	&_form{
		width: 520px;
		display: flex;
		flex-direction: column;
		& input,
		& textarea{
			width: 500px;
		    height: 50px;
		    border: 5px solid #29b3c7;
		    background-color: #29b3c7;
		    color: #fff;
		    font-size: 15px;
		    padding-left: 15px;
		    margin-bottom: 15px;
		    outline: none;
		    border: 0 solid transparent;
	    	border-left:5px solid transparent;
		}
		& textarea{
			height: 250px;
		}
		input:focus,
		textarea:focus{
			border: 0 solid #00c4c4;
	    	border-left:5px solid #355b82;
	    	background-color: #00c4c4;
		}
	}
	.contacts{
		width: 515px;
		display: flex;
		flex-direction: column;
		&_block{
			&__title{
				text-transform: uppercase;
				font-size: 17px;
				font-weight: bold;
				line-height: 25px;
			}
			&__p{
				font-size: 17px;
				font-weight: 300;
				line-height: 25px;
			}
		}
	}
}