@import "sets.scss";
.gallery--wrapper{
	background-color: $cbg4;
}
.gallery{
	flex-flow: row wrap;
	justify-content: center;
	&__title{
		margin-top: 90px;
		margin-bottom: 25px;
		width: 100%;
		@extend %fh3;
	}
	&__p{
		width: 600px;
		margin-bottom: 47px;
	}
	&_imgs{
		width: 100%;
		margin-bottom: 50px;
		&__img{
		float: left;
		box-shadow: 0 2px 5px rgba(0, 0, 0, .8);
			img{
				vertical-align: top;
				max-width: 100%;
				height: 100%;
			}
		}
	    &__img--img1{
	    	margin-right: 30px;
	    	width: 770px;
	    	height: 550px;
	    	img{
	    		width: 770px;
	    		height: 550px;
	    	}
	    }
	    &__img--img2{
	    	width: 370px;
	    	height: 260px;
	    	margin-bottom: 30px;
	    }
	    &__img--img3{
	    	width: 570px;
	    	height: 400px;
	    	margin-right: 30px;
	    }
	    &__img--img4{
	    	width: 570px;
	    	height: 400px;
	    }
	}
	&__btn{
		background-color: #5585a2;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 120px;
		@extend %btn;
	}
}
@media only screen and (max-width: 1900px){
	.gallery--wrapper{
		padding: 0 25px;
		.gallery{

		}
	}
}
@media only screen and (max-width: 1240px){
	.gallery--wrapper{
		padding: 0;
		.gallery{
			&_imgs{
				display: flex;
				flex-flow: column wrap;
				align-items: center;
				justify-content: space-around;
				&__img{
					margin: 20px 0;
					width: 60%;
					height: auto;
					img{
						width: 100%;
						height: auto;
					}
				}
			}

		}
	}
}
@media only screen and (max-width: 950px){
	.gallery--wrapper{
		padding: 0 25px;
		.gallery{
			display: flex;
			&__p{
				text-align: center;
			}
			&_imgs{
				display: flex;
				flex-flow: column nowrap;
				justify-content: space-around;
				align-items: center;
				&__img{
					margin: 20px 0;
					width: 70%;
					height: auto;
					img{
						width: 100%;
						height: auto;
					}
				}
			}
		}
	}
}